* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

.main {
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
  width: 30rem;
}

h1 {
  font-size: 1.35rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#game-canvas {
  border: 3px solid #000;
  width: 30rem;
  height: 25.33rem;
  border-radius: 0.3rem;
  margin: 1.25rem auto;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.4rem;
  width: 40%;
}

#difficulty-select {
  grid-row: 1;
  grid-column: 1;
}

#new-button {
  grid-row: 1;
  grid-column: 2;
}

#hint-button {
  grid-row: 2;
  grid-column: 1;
}

#solve-button {
  grid-row: 2;
  grid-column: 2;
}

#difficulty-select,
#new-button,
#hint-button,
#solve-button {
  font-size: 0.9rem;
  cursor: pointer;
  padding: 0.4rem;
  border: 2px solid black;
  border-radius: 2px;
  font-weight: bold;
  background-color: coral;
}

#difficulty-select {
  padding: 0.2rem;
}

#difficulty-select:hover,
#new-button:hover,
#hint-button:hover,
#solve-button:hover {
  background-color: rgba(255, 127, 80, 0.8);
}

.right {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.4rem;
}

.arrow-button {
  padding: 0.4rem;
  font-size: 16px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.arrow-button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

#up-button {
  grid-column: 2;
  grid-row: 1;
}

#left-button {
  grid-column: 1;
  grid-row: 1 / span 2;
}

#right-button {
  grid-column: 3;
  grid-row: 1 / span 2;
}

#down-button {
  grid-column: 2;
  grid-row: 2;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 350px) {
  html {
    font-size: 60%;
  }

  .arrow-button {
    font-size: 10px;
  }

  #difficulty-select,
  #new-button,
  #hint-button,
  #solve-button {
    font-size: 0.8rem;
  }
}
